<div class="container">
	<nav class='navbar navbar-default' role='navigation'>
		<ul class='nav navbar-nav'>
			<li>{{#link-to 'posts'}}Posts{{/link-to}}</li>
			<li>{{#link-to 'about'}}About{{/link-to}}</li>
			<li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
		</ul>
	</nav>


	<h1>About Andrew Fuller</h1>

	<p> The Andrew Fuller Center for Baptist Studies, located at The Southern Baptist Theological Seminary in Louisville, Kentucky, seeks to promote the study of Baptist history as well as theological reflection on the contemporary significance of that history. The center is named in honor of Andrew Fuller (1754-1815), the late eighteenth- and early nineteenth- century English Baptist pastor and theologian, who played a key role in opposing aberrant thought in his day as well as being instrumental in the founding and early years of the Baptist Missionary Society. Fuller was a close friend and theological mentor of William Carey, one of the pioneers of that society. </p>

<button class="btn btn-primary"{{action 'showRealName'}}>Click here for a Brief Overview of Andrew Fuller's life</button>

</div>