<div class="container">
	<nav class='navbar navbar-default' role='navigation'>
		<ul class='nav navbar-nav'>
			<li>{{#link-to 'posts'}}Posts{{/link-to}}</li>
			<li>{{#link-to 'about'}}About{{/link-to}}</li>
			<li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
		</ul>
	</nav>


	<h1>Contact the Center</h1>

	<p> Mailing Address:

The Andrew Fuller Center
The Southern Baptist Theological Seminary
2825 Lexington Rd.
Louisville, KY  40280

Phone Number:

(502) 897-4613

E-mail:

andrewfullercenter@sbts.edu </p>

<button class="btn btn-primary"{{action 'showRealName'}}>Click here to ask Dr. Haykin a question!</button>

</div>