<div class="container">
	<nav class='navbar navbar-default' role='navigation'>
		<ul class='nav navbar-nav'>
			<li>{{#link-to 'posts'}}Posts{{/link-to}}</li>
			<li>{{#link-to 'about'}}About{{/link-to}}</li>
			<li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
		</ul>
	</nav>


	<h1>Blog Contributors</h1>
	<p>Dustin W. Benge (Ph.D. Candidate, The Southern Baptist Theological Seminary) serves as Associate Pastor and Pastor for Family Ministries at Christ Fellowship Baptist Church in Mobile, AL. Dustin is a junior fellow of the Andrew Fuller Center and lives with his wife, Molli, in Mobile.</p>

  <ul>
    <li><a href="#">March 2016</a></li>
    <li><a href="#">February 2016</a></li>
    <li><a href="#">January 2016</a></li>
  </ul>
</div>
